<body class = "loginform">

	<h1>Sign In</h1>

<%= form_tag sessions_path do %>


	<%= label_tag :email %></br>
	<%= text_field_tag :email, params[:email] %></br></br>


	<%= label_tag :password %></br>
	<%= password_field_tag :password %></br></br>


	<%= submit_tag :Login, :class => "button_login" %>

  <% end %>
</body>
